@model HIMS.Server.Models.TaskTrackViewModel

@{
    Layout = null;
}
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h2>Editing track</h2>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal col-xs-12 col-md-offset-2">
            <div class="form-group">
                @Html.HiddenFor(model => model.TaskTrackId)
            </div>

            <div class="form-group">
                @Html.LabelFor(model=>model.UserTaskId, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-5">
                    @Html.DropDownList("UserTaskId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserTaskId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TrackDate, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.TrackDate, new { htmlAttributes = new { @class = "form-control", required = "Info" } })
                    @Html.ValidationMessageFor(model => model.TrackDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TrackNote, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.TrackNote, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TrackNote, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>