@model IEnumerable<HIMS.Server.Models.TaskTrackViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskTrackId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserTaskId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrackDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrackNote)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TaskTrackId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserTaskId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrackDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrackNote)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
